@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
.out-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #3ed8ff, #a8f5ff);
}
.innerbox{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    padding: 20px 40px;
    background-color: #ffffffcc;
    backdrop-filter: blur(8px);
    border-radius: 8px;
    box-shadow: 2px 3px 7px #2773a5;
    /* border: 2px solid #ccc; */
    z-index: 1;
}
.Signup-header h1{
    font-size: 2.5rem;
    color: #212121;
}
.Signup-header p{
  font-size: 0.9rem;  
  color: #555;
}
.Signup-body{
    margin: 20px 0;
    line-height: 1.5rem;
}
.Signup-body p{
    margin: 10px 0;
}
.Signup-body p label{
    display: block;
    font-weight: bold;
}
.Signup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 4px;
    margin-top: 4px;
}
.Signup-body p input[type="Submit"] {
    color: black;
    font-weight: bold;
    background-color: #34dbd3;
    border: none;
    cursor: pointer;
}
.Signup-body p input[type="Submit"]:hover {
    background-color: #2773a5;
}
.Signup-footer p{
    color: #555;
    text-align: center;
}
.Signup-footer p a{
    color: #2773a5;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right, #ffffff33, #ffffffff );
    position: absolute;
}
.c1{
    top: 100px;
    left: 80px;
}
.c2{
    left: 400px;
}
.c3{
    top: 320px;
    left: 1050px;
}
.c4{
    bottom: -20px;

}
.c5{
    left: 1350px;
    bottom: -40px;
  
}
.c6{
    top: 8px;
    left: 860px;
}
.c7{
    top: 120px;
    left: 1400px;
}
.c8{
    top: -145px;
    left: 400px;
}
.c9{
   bottom: -150px; 
   left: 820px;
}